@model IEnumerable<Hager_Ind_CRM.Models.Company>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CredCheck)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillingTerms)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Currency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Website)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillingAddress1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillingAddress2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillingProvince)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillingPostalCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillingCountry)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShippingAddress1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShippingAddress2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShippingProvince)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShippingPostalCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShippingCountry)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CredCheck)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillingTerms.Terms)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Currency.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Website)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillingAddress1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillingAddress2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillingProvince.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillingPostalCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillingCountry.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShippingAddress1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShippingAddress2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShippingProvince.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShippingPostalCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShippingCountry.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
