@using Hager_Ind_CRM.Data
@using Hager_Ind_CRM.Support
@using Hager_Ind_CRM.ViewModels
@{
    ViewData["Title"] = "Home Page";
    IEnumerable<Announcement> announcements = ViewData["Announcements"] as IEnumerable<Announcement>;
    IEnumerable<Company> creditChecks = ViewData["CreditChecks"] as IEnumerable<Company>;
    IEnumerable<Contact> contacts = ViewData["MissingContactInfo"] as IEnumerable<Contact>;
    IEnumerable<Employee> upcomingBirthday = ViewData["UpcomingBirthday"] as IEnumerable<Employee>;
    //List<JobPositionCountVM> jobPositions = ViewData["JobPosition"] as List<JobPositionCountVM>;
}

@section Scripts{

    <!-- Page level plugins -->
    <script src="js/charts/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="js/charts/chart-pie-demo1.js"></script>
    @*<script src="js/chart-area-demo.js"></script>*@
    <script src="js/chart-bar-demo1.js"></script>
    <script>
        //Register the service worker.
        //Note is is still not "installable" without the manifest
        if (navigator.serviceWorker.controller) {
            console.log('Active service worker found, no need to register');
        } else {
            navigator.serviceWorker.register('sw.js', {
                scope: './'
            }).then(function (reg) {
                console.log('Service worker has been registered for scope:' + reg.scope);
            });
        }
    </script>
}

<h1 class="mt-4">Home</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
</ol>
<!--<div class="text-lg-center">-->
@* Access to the Notice Page : <a asp-area="" asp-controller="Announcements" asp-action="Index">Announcemnets</a>*@
<!--</div>-->

<div class="row">
    <div class="col-xl-4 col-md-6">
        <div class="card bg-primary text-white mb-4">
            <div class="card-body">Companies</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" asp-area="" asp-controller="Companies" asp-action="Index">View</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>

    <div class="col-xl-4 col-md-6">
        <div class="card bg-success text-white mb-4">
            <div class="card-body">Contacts</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" asp-area="" asp-controller="Contacts" asp-action="Index">View</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>

    <div class="col-xl-4 col-md-6">
        <div class="card bg-danger text-white mb-4">
            <div class="card-body">Employees</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" asp-area="" asp-controller="Employees" asp-action="Index">View</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-12 ">
        <div class="card shadow bg-light mb-3 d-flex flex-column align-items-stretch">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between ">
                <h6 class="m-0 font-weight-bold">Announcements 📢</h6>
                @if (User.IsInRole("Admin"))
                {
                    <div class="btn-group">
                        <button type="button" class="btn btn-dark dropdown-toggle rounded" role="button" id="dropdownMenuLink"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                             aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" asp-controller="Announcements" asp-action="Create">Create New</a>
                        </div>
                    </div>
                }

            </div>
            <!-- Card Body -->
            <div class="card-body">
                <table class="table">
                    <tbody>
                        @foreach (var item in announcements)
                        {
                            <tr>
                                @if (User.IsInRole("Admin"))
                                {
                                    <td>
                                        <a class="btn btn-light" asp-controller="Announcements" asp-action="Edit" asp-route-id="@item.ID">
                                            @Html.DisplayFor(modelItem => item.Notice)
                                        </a>
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Notice)
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>



            </div>
        </div>
    </div>


</div>

<div class="row mb-3">
    @*<div class="col-lg-4 col-md-12">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-chart-area mr-1"></i>
                    Area Chart Example
                </div>
                <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
            </div>
        </div>*@
    <div class="col-lg-6 col-md-12">
        <div class="card shadow bg-light d-flex h-100 flex-column mb-3 ">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 ">
                <h6 class="m-0 font-weight-bold">Job Positions 👷🏾</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="chart-pie pt-4 pb-2">
                    <canvas id="myBarChart" width="100%" height="50"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-12 ">
        <div class="card shadow bg-light d-flex h-100 flex-column mb-3">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold">Companies 🏢</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="chart-pie pt-4 pb-2 d-flex h-75 flex-column">
                    <canvas id="myPieChart"></canvas>
                </div>
                <div class="text-center small d-flex h-25 justify-content-center align-items-center">
                    <span class="mr-2">
                        <i class="fas fa-circle text-primary"></i> Customer
                    </span>
                    <span class="mr-2">
                        <i class="fas fa-circle text-success "></i> Vendor
                    </span>
                    <span class="mr-2">
                        <i class="fas fa-circle text-info"></i> Conractor
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row d-flex">

    <!--Upcoming Birthday Info-->
    <div class="col-xl-4 col-md-6">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold">Upcoming Birthdays 🎉</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Birthday</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in upcomingBirthday)
                        {
                            string dob = item.DateOfBirth.Value.ToLongDateString();
                            dob = dob.Substring(0, dob.Length - 6);
                            <tr>
                                <td>
                                    @{ if (User.HasClaim(CustomClaimTypes.Permission, Employees.Read))
                                        {
                                            <a class="btn btn-light" asp-controller="Employees" asp-action="Details" asp-route-id="@item.ID">
                                                @Html.DisplayFor(modelItem => item.FullName)
                                            </a>
                                        }
                                        else
                                        { @Html.DisplayFor(modelItem => item.FullName)}
                                    }
                                </td>
                                <td>@Html.DisplayFor(modelItem => dob)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    @if (User.HasClaim(CustomClaimTypes.Permission, Companies.Update))
    {
        <div class="col-xl-4 col-md-6">
            <div class="card shadow mb-3">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold">Incomplete Credit Checks 💳</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-area">
                        @foreach (var item in creditChecks)
                        {
                            <p>
                                <a class="btn btn-light" asp-controller="Companies" asp-action="Edit" asp-route-id="@item.ID">
                                    @Html.DisplayFor(modelItem => item.Name)
                                </a>
                            </p>
                        }
                    </div>
                </div>
            </div>
        </div>
    }

    @if (User.HasClaim(CustomClaimTypes.Permission, Contacts.Update))
    {
        <!--Missing Contact Info-->
        <div class="col-xl-4 col-md-6">
            <div class="card shadow mb-3">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold">Missing Contact Info 📇</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-area">
                        @foreach (var item in contacts)
                        {
                            <p>
                                <a class="btn btn-light" asp-controller="Contacts" asp-action="Edit" asp-route-id="@item.ID">
                                    @Html.DisplayFor(modelItem => item.FullName)
                                </a>
                            </p>
                        }
                    </div>
                </div>
            </div>
        </div>
    }

</div>

@*<div id="piechart"></div>


    Concept for Pie Chart Analytics

    @section Scripts{
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {

        var data = google.visualization.arrayToDataTable([


            ['Position', 'Count'],

            @foreach (var item in jobPositions)
            {
                <text>['@item.Position, @item.Count'],</text>
            }
        ]);

        var options = {
            title: 'My Daily Activities'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
    }
        </script>
    }*@

@*<div class="table-responsive">
        <table class="table table-bordered display" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>
                        Notice
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in announcements)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Notice)
                        </td>
                        <td>
                            @{ if (User.IsInRole("Admin"))
                                {
                                    <a class="btn btn-outline-dark" asp-controller="Announcements" asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                                }
                            }

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>*@
