@model Hager_Ind_CRM.Models.Company

@{
    ViewData["Title"] = "Create";
}
<h1 class="mt-4">Create Company</h1>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
    <li class="breadcrumb-item"><a asp-area="" asp-controller="Companies" asp-action="Index">Companies</a></li>
    <li class="breadcrumb-item active">Create</li>
</ol>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Alert!</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <br />
                <b> @Html.Raw(ViewBag.Message)</b><br /><br />
                <b>What would you like to do?</b><br /><br />
            </div>
            <div class="modal-footer">
                @Html.ActionLink("View", "Details", "Companies", new
                {
                    id = ViewBag.Msg
                }, new { @class = "btn btn-outline-info" })
                <button class="btn btn-outline-primary" data-dismiss="modal" id="btnUpdate">Merge</button>
                @Html.ActionLink("Cancel", "Index", "Companies", new { }, new { @class = "btn btn-outline-secondary" })
            </div>
        </div>

    </div>
</div>
<form asp-action="Create" id="CreateCompanyForm">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input id="inputCustomer" name="isCustomer" type="hidden" value="false" />
    <input id="inputVendor" name="isVendor" type="hidden" value="false" />
    <input id="inputContractor" name="isContractor" type="hidden" value="false" />
    <div class="row">
        <div class="col-12">
            <div class="breadcrumb">
                <div class="form-group col-12">
                    <h4>Company information</h4>
                    <hr class="mb-0" />
                </div>
                <div class="form-group col-xl-4 col-md-6 col-sm-12">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group col-xl-4 col-md-6 col-sm-12">
                    <label asp-for="Location" class="control-label"></label>
                    <input asp-for="Location" class="form-control" />
                    <span asp-validation-for="Location" class="text-danger"></span>
                </div>
                <div class="form-group col-xl-4 col-md-6 col-sm-12">
                    <label asp-for="Website" class="control-label"></label>
                    <input asp-for="Website" class="form-control" />
                    <span asp-validation-for="Website" class="text-danger"></span>
                </div>
                <div class="form-group col-xl-3 col-md-6 col-sm-6">
                    <label asp-for="BillingTermsID" class="control-label"></label>
                    <select asp-for="BillingTermsID" class="form-control" asp-items="ViewBag.BillingTermsID">
                        <option value="">Select...</option>
                    </select>
                    <span asp-validation-for="BillingTermsID" class="text-danger"></span>
                </div>
                <div class="form-group col-xl-2 col-md-3 col-sm-6">
                    <label asp-for="CurrencyID" class="control-label"></label>
                    <select asp-for="CurrencyID" class="form-control" asp-items="ViewBag.CurrencyID">
                        <option value="">Select...</option>
                    </select>
                    <span asp-validation-for="CurrencyID" class="text-danger"></span>
                </div>
                <div class="form-group col-xl-3 col-md-4 col-sm-12">
                    <label asp-for="Phone" class="control-label"></label>
                    <input asp-for="Phone" class="form-control" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
                <div class="form-group form-check col-xl-2 col-md-3 col-sm-6 d-flex align-items-center justify-content-center">
                    <div class="custom-control custom-checkbox pt-4">
                        <input class="custom-control-input" id="credit" type="checkbox" asp-for="CredCheck" />
                        <label class="custom-control-label" for="credit">@Html.DisplayNameFor(model => model.CredCheck)</label>
                    </div>
                </div>
                <div class="form-group form-check col-xl-2 col-md-1 col-sm-6 d-flex align-items-center justify-content-center">
                    <div class="custom-control custom-checkbox pt-4">
                        <input class="custom-control-input" id="active" type="checkbox" asp-for="Active" />
                        <label class="custom-control-label" for="active">@Html.DisplayNameFor(model => model.Active)</label>
                    </div>
                </div>
                <div class="form-group col-12">
                    <label asp-for="Notes" class="control-label"></label>
                    <input asp-for="Notes" class="form-control" />
                    <span asp-validation-for="Notes" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-6 col-sm-12">
            <div class="breadcrumb">
                <div class="form-group col-12">
                    <h4>Billing information</h4>
                    <hr class="mb-0" />
                </div>
                <div class="form-group col-xl-6 col-sm-12">
                    <label asp-for="BillingAddress1" class="control-label"></label>
                    <input asp-for="BillingAddress1" class="form-control" />
                    <span asp-validation-for="BillingAddress1" class="text-danger"></span>
                </div>
                <div class="form-group col-xl-6 col-sm-12">
                    <label asp-for="BillingAddress2" class="control-label"></label>
                    <input asp-for="BillingAddress2" class="form-control" />
                    <span asp-validation-for="BillingAddress2" class="text-danger"></span>
                </div>
                <div class="form-group col-xl-4 col-lg-6 col-sm-6">
                    <label asp-for="BillingCountryID" class="control-label"></label>
                    <select asp-for="BillingCountryID" class="form-control" asp-items="ViewBag.BillingCountryID">
                        <option value="">Select...</option>
                    </select>
                    <span asp-validation-for="BillingCountryID" class="text-danger"></span>
                </div>
                <div class="form-group col-xl-4 col-lg-6 col-sm-6">
                    <label asp-for="BillingProvinceID" class="control-label"></label>
                    <select asp-for="BillingProvinceID" class="form-control" asp-items="ViewBag.BillingProvinceID">
                        <option value="">Select...</option>
                    </select>
                    <span asp-validation-for="BillingProvinceID" class="text-danger"></span>
                </div>
                <div class="form-group col-xl-4 col-lg-12 col-sm-12">
                    <label asp-for="BillingPostalCode" class="control-label"></label>
                    <input asp-for="BillingPostalCode" class="form-control" />
                    <span asp-validation-for="BillingPostalCode" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-sm-12">
            <div class="breadcrumb">
                <div class="form-group col-12">
                    <h4>Shipping information</h4>
                    <hr class="mb-0" />
                </div>
                <div class="form-group col-xl-6 col-sm-12">
                    <label asp-for="ShippingAddress1" class="control-label"></label>
                    <input asp-for="ShippingAddress1" class="form-control" />
                    <span asp-validation-for="ShippingAddress1" class="text-danger"></span>
                </div>
                <div class="form-group col-xl-6 col-sm-12">
                    <label asp-for="ShippingAddress2" class="control-label"></label>
                    <input asp-for="ShippingAddress2" class="form-control" />
                    <span asp-validation-for="ShippingAddress2" class="text-danger"></span>
                </div>
                <div class="form-group col-xl-4 col-lg-6 col-sm-6">
                    <label asp-for="ShippingCountryID" class="control-label"></label>
                    <select asp-for="ShippingCountryID" class="form-control" asp-items="ViewBag.ShippingCountryID">
                        <option value="">Select...</option>
                    </select>
                    <span asp-validation-for="ShippingCountryID" class="text-danger"></span>
                </div>
                <div class="form-group col-xl-4 col-lg-6 col-sm-6">
                    <label asp-for="ShippingProvinceID" class="control-label"></label>
                    <select asp-for="ShippingProvinceID" class="form-control" asp-items="ViewBag.ShippingProvinceID">
                        <option value="">Select...</option>
                    </select>
                    <span asp-validation-for="ShippingProvinceID" class="text-danger"></span>
                </div>
                <div class="form-group col-xl-4 col-lg-12 col-sm-12">
                    <label asp-for="ShippingPostalCode" class="control-label"></label>
                    <input asp-for="ShippingPostalCode" class="form-control" />
                    <span asp-validation-for="ShippingPostalCode" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-4 col-sm-12 d-flex align-items-stretch">
            <div class="breadcrumb">
                <div class="form-group col-12">
                    <h4>Customer Type</h4>
                    <hr class="mb-0" />
                </div>
                <div class="col-12">
                    <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" id="isCustomer" type="checkbox" />
                        <label class="custom-control-label" for="isCustomer">Is this company a customer?</label>
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <label class="control-label"> Customer Subtypes Assigned</label> <button type="button" id="btnRightCustomer" class="btn btn-danger btn-sm">
                        <strong>-</strong>
                    </button>
                    @Html.ListBox("selectedOptionsCustomer", (MultiSelectList)ViewBag.selOptsCustomer, new { @size = 5, @class = "form-control", @style = "height: 85%;", @id = "selectedOptionsCustomer" })
                </div>

                <div class="form-group col-md-12">
                    <label class="control-label"> Customer Subtypes Available</label> <button type="button" id="btnLeftCustomer" class="btn btn-success btn-sm">
                        <strong>+</strong>
                    </button>
                    @Html.ListBox("availOptionsCustomer", (MultiSelectList)ViewBag.availOptsCustomer, new { @size = 5, @class = "form-control", @style = "height: 85%;", @id = "availOptionsCustomer" })
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-sm-12 d-flex align-items-stretch">
            <div class="breadcrumb">
                <div class="form-group col-12">
                    <h4>Vendor Type</h4>
                    <hr class="mb-0" />
                </div>
                <div class="col-12">
                    <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" id="isVendor" type="checkbox" />
                        <label class="custom-control-label" for="isVendor">Is this company a vendor?</label>
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <label class="control-label"> Vendor Subtypes Assigned</label> <button type="button" id="btnRightVendor" class="btn btn-danger btn-sm">
                        <strong>-</strong>
                    </button>
                    @Html.ListBox("selectedOptionsVendor", (MultiSelectList)ViewBag.selOptsVendor, new { @size = 5, @class = "form-control", @style = "height: 85%;", @id = "selectedOptionsVendor" })
                </div>

                <div class="form-group col-md-12">
                    <label class="control-label"> Vendor Subtypes Available</label> <button type="button" id="btnLeftVendor" class="btn btn-success btn-sm">
                        <strong>+</strong>
                    </button>
                    @Html.ListBox("availOptionsVendor", (MultiSelectList)ViewBag.availOptsVendor, new { @size = 5, @class = "form-control", @style = "height: 85%;", @id = "availOptionsVendor" })
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-sm-12 d-flex align-items-stretch">
            <div class="breadcrumb">
                <div class="form-group col-12">
                    <h4>Contractor Type</h4>
                    <hr class="mb-0" />
                </div>
                <div class="col-12">
                    <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" id="isContractor" type="checkbox" />
                        <label class="custom-control-label" for="isContractor">Is this company a contractor?</label>
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <label class="control-label"> Contractor Subtypes Assigned</label> <button type="button" id="btnRightContractor" class="btn btn-danger btn-sm">
                        <strong>-</strong>
                    </button>
                    @Html.ListBox("selectedOptionsContractor", (MultiSelectList)ViewBag.selOptsContractor, new { @size = 5, @class = "form-control", @style = "height: 85%;", @id = "selectedOptionsContractor" })
                </div>

                <div class="form-group col-md-12">
                    <label class="control-label"> Contractor Subtypes Available</label> <button type="button" id="btnLeftContractor" class="btn btn-success btn-sm">
                        <strong>+</strong>
                    </button>
                    @Html.ListBox("availOptionsContractor", (MultiSelectList)ViewBag.availOptsContractor, new { @size = 5, @class = "form-control", @style = "height: 85%;", @id = "availOptionsContractor" })
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-sm-12">
            <input type="submit" value="Create" id="btnSubmit" class="btn btn-primary" />
            <a class="btn btn-outline-danger" asp-action="Index">Cancel</a>
        </div>
    </div>
</form>


@*<div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Location" class="control-label"></label>
                    <input asp-for="Location" class="form-control" />
                    <span asp-validation-for="Location" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="CredCheck" /> @Html.DisplayNameFor(model => model.CredCheck)
                    </label>
                </div>
                <div class="form-group">
                    <label asp-for="BillingTermsID" class="control-label"></label>
                    <select asp-for="BillingTermsID" class="form-control" asp-items="ViewBag.BillingTermsID">
                        <option value="">Select...</option>
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="CurrencyID" class="control-label"></label>
                    <select asp-for="CurrencyID" class="form-control" asp-items="ViewBag.CurrencyID">
                        <option value="">Select...</option>
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="Phone" class="control-label"></label>
                    <input asp-for="Phone" class="form-control" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Website" class="control-label"></label>
                    <input asp-for="Website" class="form-control" />
                    <span asp-validation-for="Website" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BillingAddress1" class="control-label"></label>
                    <input asp-for="BillingAddress1" class="form-control" />
                    <span asp-validation-for="BillingAddress1" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BillingAddress2" class="control-label"></label>
                    <input asp-for="BillingAddress2" class="form-control" />
                    <span asp-validation-for="BillingAddress2" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BillingProvinceID" class="control-label"></label>
                    <select asp-for="BillingProvinceID" class="form-control" asp-items="ViewBag.BillingProvinceID">
                        <option value="">Select...</option>
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="BillingPostalCode" class="control-label"></label>
                    <input asp-for="BillingPostalCode" class="form-control" />
                    <span asp-validation-for="BillingPostalCode" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BillingCountryID" class="control-label"></label>
                    <select asp-for="BillingCountryID" class="form-control" asp-items="ViewBag.BillingCountryID">
                        <option value="">Select...</option>
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="ShippingAddress1" class="control-label"></label>
                    <input asp-for="ShippingAddress1" class="form-control" />
                    <span asp-validation-for="ShippingAddress1" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ShippingAddress2" class="control-label"></label>
                    <input asp-for="ShippingAddress2" class="form-control" />
                    <span asp-validation-for="ShippingAddress2" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ShippingProvinceID" class="control-label"></label>
                    <select asp-for="ShippingProvinceID" class="form-control" asp-items="ViewBag.ShippingProvinceID">
                        <option value="">Select...</option>
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="ShippingPostalCode" class="control-label"></label>
                    <input asp-for="ShippingPostalCode" class="form-control" />
                    <span asp-validation-for="ShippingPostalCode" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ShippingCountryID" class="control-label"></label>
                    <select asp-for="ShippingCountryID" class="form-control" asp-items="ViewBag.ShippingCountryID">
                        <option value="">Select...</option>
                    </select>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Active" /> @Html.DisplayNameFor(model => model.Active)
                    </label>
                </div>
                <div class="form-group">
                    <label asp-for="Notes" class="control-label"></label>
                    <input asp-for="Notes" class="form-control" />
                    <span asp-validation-for="Notes" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/companies_script.js"></script>
}
<script>
    $(function () {
        if ('@ViewBag.Message' != "") {
            $('#myModal').modal('show');
        }
    });
    $('#btnUpdate').click(function (event) {
        event.preventDefault();
        var form = $('#CreateCompanyForm');
        if (form.valid()) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("Edit","Companies",new {id= ViewBag.Msg})',
                data: form.serialize(),
                success: function () {
                  window.location.href = "@Url.Action("Index", "Companies")";
                },
                error: function () {
                    alert("Merge Failed. There was a problem merging the record.");
                }
            });
        }
        return false;
    });
</script>
