@model Hager_Ind_CRM.Models.Company

@{
    ViewData["Title"] = "Edit";
    
}

<h1 class="mt-4">Edit Company</h1>

<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
    <li class="breadcrumb-item"><a asp-area="" asp-controller="Companies" asp-action="Index">Companies</a></li>
    <li class="breadcrumb-item"><a asp-area="" asp-controller="Companies" asp-action="Details" asp-route-id="@Model.ID">Details</a></li>
    <li class="breadcrumb-item active">Edit</li>
</ol>

<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ID" />
    <input id="inputCustomer" name="isCustomer" type="hidden" value="false" />
    <input id="inputVendor" name="isVendor" type="hidden" value="false" />
    <input id="inputContractor" name="isContractor" type="hidden" value="false" />
    <div class="row">
        <div class="col-12">
            <div class="breadcrumb">
                <div class="form-group col-12">
                    <h4>Company information</h4>
                    <hr class="mb-0" />
                </div>
                <div class="form-group col-xl-4 col-md-6 col-sm-12">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group col-xl-4 col-md-6 col-sm-12">
                    <label asp-for="Location" class="control-label"></label>
                    <input asp-for="Location" class="form-control" />
                    <span asp-validation-for="Location" class="text-danger"></span>
                </div>
                <div class="form-group col-xl-4 col-md-6 col-sm-12">
                    <label asp-for="Website" class="control-label"></label>
                    <input asp-for="Website" class="form-control" />
                    <span asp-validation-for="Website" class="text-danger"></span>
                </div>
                <div class="form-group col-xl-3 col-md-6 col-sm-6">
                    <label asp-for="BillingTermsID" class="control-label"></label>
                    <select asp-for="BillingTermsID" class="form-control" asp-items="ViewBag.BillingTermsID">
                        <option value="" >Select...</option>
                    </select>
                    <span asp-validation-for="BillingTermsID" class="text-danger"></span>
                </div>
                <div class="form-group col-xl-2 col-md-3 col-sm-6">
                    <label asp-for="CurrencyID" class="control-label"></label>
                    <select asp-for="CurrencyID" class="form-control" asp-items="ViewBag.CurrencyID">
                        <option value="">Select...</option>
                    </select>
                    <span asp-validation-for="CurrencyID" class="text-danger"></span>
                </div>
                <div class="form-group col-xl-3 col-md-4 col-sm-12">
                    <label asp-for="Phone" class="control-label"></label>
                    <input asp-for="Phone" class="form-control" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
                <div class="form-group form-check col-xl-2 col-md-3 col-sm-6 d-flex align-items-center justify-content-center">
                    <div class="custom-control custom-checkbox pt-4">
                        <input class="custom-control-input" id="credit" type="checkbox" asp-for="CredCheck" />
                        <label class="custom-control-label" for="credit">@Html.DisplayNameFor(model => model.CredCheck)</label>
                    </div>
                </div>
                <div class="form-group form-check col-xl-2 col-md-1 col-sm-6 d-flex align-items-center justify-content-center">
                    <div class="custom-control custom-checkbox pt-4">
                        <input class="custom-control-input" id="active" type="checkbox" asp-for="Active" />
                        <label class="custom-control-label" for="active">@Html.DisplayNameFor(model => model.Active)</label>
                    </div>
                </div>
                <div class="form-group col-12">
                    <label asp-for="Notes" class="control-label"></label>
                    <input asp-for="Notes" class="form-control" />
                    <span asp-validation-for="Notes" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-6 col-sm-12">
            <div class="breadcrumb">
                <div class="form-group col-12">
                    <h4>Billing information</h4>
                    <hr class="mb-0" />
                </div>
                <div class="form-group col-xl-6 col-sm-12">
                    <label asp-for="BillingAddress1" class="control-label"></label>
                    <input asp-for="BillingAddress1" class="form-control" />
                    <span asp-validation-for="BillingAddress1" class="text-danger"></span>
                </div>
                <div class="form-group col-xl-6 col-sm-12">
                    <label asp-for="BillingAddress2" class="control-label"></label>
                    <input asp-for="BillingAddress2" class="form-control" />
                    <span asp-validation-for="BillingAddress2" class="text-danger"></span>
                </div>
                <div class="form-group col-xl-4 col-lg-6 col-sm-6">
                    <label asp-for="BillingCountryID" class="control-label"></label>
                    <select asp-for="BillingCountryID" class="form-control" asp-items="ViewBag.BillingCountryID">
                        <option value="">Select...</option>
                    </select>
                    <span asp-validation-for="BillingCountryID" class="text-danger"></span>
                </div>
                <div class="form-group col-xl-4 col-lg-6 col-sm-6">
                    <label asp-for="BillingProvinceID" class="control-label"></label>
                    <select asp-for="BillingProvinceID" class="form-control" asp-items="ViewBag.BillingProvinceID">
                        <option value="">Select...</option>
                    </select>
                    <span asp-validation-for="BillingProvinceID" class="text-danger"></span>
                </div>
                <div class="form-group col-xl-4 col-lg-12 col-sm-12">
                    <label asp-for="BillingPostalCode" class="control-label"></label>
                    <input asp-for="BillingPostalCode" class="form-control" />
                    <span asp-validation-for="BillingPostalCode" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-sm-12">
            <div class="breadcrumb">
                <div class="form-group col-12">
                    <h4>Shipping information</h4>
                    <hr class="mb-0" />
                </div>
                <div class="form-group col-xl-6 col-sm-12">
                    <label asp-for="ShippingAddress1" class="control-label"></label>
                    <input asp-for="ShippingAddress1" class="form-control" />
                    <span asp-validation-for="ShippingAddress1" class="text-danger"></span>
                </div>
                <div class="form-group col-xl-6 col-sm-12">
                    <label asp-for="ShippingAddress2" class="control-label"></label>
                    <input asp-for="ShippingAddress2" class="form-control" />
                    <span asp-validation-for="ShippingAddress2" class="text-danger"></span>
                </div>
                <div class="form-group col-xl-4 col-lg-6 col-sm-6">
                    <label asp-for="ShippingCountryID" class="control-label"></label>
                    <select asp-for="ShippingCountryID" class="form-control" asp-items="ViewBag.ShippingCountryID">
                        <option value="">Select...</option>
                    </select>
                    <span asp-validation-for="ShippingCountryID" class="text-danger"></span>
                </div>
                <div class="form-group col-xl-4 col-lg-6 col-sm-6">
                    <label asp-for="ShippingProvinceID" class="control-label"></label>
                    <select asp-for="ShippingProvinceID" class="form-control" asp-items="ViewBag.ShippingProvinceID">
                        <option value="">Select...</option>
                    </select>
                    <span asp-validation-for="ShippingProvinceID" class="text-danger"></span>
                </div>
                <div class="form-group col-xl-4 col-lg-12 col-sm-12">
                    <label asp-for="ShippingPostalCode" class="control-label"></label>
                    <input asp-for="ShippingPostalCode" class="form-control" />
                    <span asp-validation-for="ShippingPostalCode" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-4 col-sm-12 d-flex align-items-stretch">
            <div class="breadcrumb">
                <div class="form-group col-12">
                    <h4>Customer Type</h4>
                    <hr class="mb-0" />
                </div>

                @{
                    int typesCount = Model.CompanyTypes.Count;
                    bool customer = false;
                    if (typesCount > 0)
                    {
                        foreach (CompanyType companyType in Model.CompanyTypes)
                        {
                            if (companyType.Type.Name == "Customer")
                            {
                                customer = true;
                                break;
                            }
                        }

                        if (customer == true)
                        {
                            <div class="col-12">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" id="isCustomer" type="checkbox" checked="checked" />
                                    <label class="custom-control-label" for="isCustomer">Is this company a customer?</label>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="col-12">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" id="isCustomer" type="checkbox" />
                                    <label class="custom-control-label" for="isCustomer">Is this company a customer?</label>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="col-12">
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" id="isCustomer" type="checkbox" />
                                <label class="custom-control-label" for="isCustomer">Is this company a customer?</label>
                            </div>
                        </div>
                    }
                }

                <div class="form-group col-md-12">
                    <label class="control-label"> Customer Subtypes Assigned</label> <button type="button" id="btnRightCustomer" class="btn btn-danger btn-sm">
                        <strong>-</strong>
                    </button>
                    @Html.ListBox("selectedOptionsCustomer", (MultiSelectList)ViewBag.selOptsCustomer, new { @size = 5, @class = "form-control", @style = "height: 85%;", @id = "selectedOptionsCustomer" })
                </div>

                <div class="form-group col-md-12">
                    <label class="control-label"> Customer Subtypes Available</label> <button type="button" id="btnLeftCustomer" class="btn btn-success btn-sm">
                        <strong>+</strong>
                    </button>
                    @Html.ListBox("availOptionsCustomer", (MultiSelectList)ViewBag.availOptsCustomer, new { @size = 5, @class = "form-control", @style = "height: 85%;", @id = "availOptionsCustomer" })
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-sm-12 d-flex align-items-stretch">
            <div class="breadcrumb">
                <div class="form-group col-12">
                    <h4>Vendor Type</h4>
                    <hr class="mb-0" />
                </div>
                @{
                    bool vendor = false;
                    if (typesCount > 0)
                    {
                        foreach (CompanyType companyType in Model.CompanyTypes)
                        {
                            if (companyType.Type.Name == "Vendor")
                            {
                                vendor = true;
                                break;
                            }
                        }

                        if (vendor == true)
                        {
                            <div class="col-12">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" id="isVendor" type="checkbox" checked="checked" />
                                    <label class="custom-control-label" for="isVendor">Is this company a vendor?</label>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="col-12">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" id="isVendor" type="checkbox" />
                                    <label class="custom-control-label" for="isVendor">Is this company a vendor?</label>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="col-12">
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" id="isVendor" type="checkbox" />
                                <label class="custom-control-label" for="isVendor">Is this company a vendor?</label>
                            </div>
                        </div>
                    }
                }
                <div class="form-group col-md-12">
                    <label class="control-label"> Vendor Subtypes Assigned</label> <button type="button" id="btnRightVendor" class="btn btn-danger btn-sm">
                        <strong>-</strong>
                    </button>
                    @Html.ListBox("selectedOptionsVendor", (MultiSelectList)ViewBag.selOptsVendor, new { @size = 5, @class = "form-control", @style = "height: 85%;", @id = "selectedOptionsVendor" })
                </div>

                <div class="form-group col-md-12">
                    <label class="control-label"> Vendor Subtypes Available</label> <button type="button" id="btnLeftVendor" class="btn btn-success btn-sm">
                        <strong>+</strong>
                    </button>
                    @Html.ListBox("availOptionsVendor", (MultiSelectList)ViewBag.availOptsVendor, new { @size = 5, @class = "form-control", @style = "height: 85%;", @id = "availOptionsVendor" })
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-sm-12 d-flex align-items-stretch">
            <div class="breadcrumb">
                <div class="form-group col-12">
                    <h4>Contractor Type</h4>
                    <hr class="mb-0" />
                </div>
                @{
                    bool contractor = false;
                    if (typesCount > 0)
                    {
                        foreach (CompanyType companyType in Model.CompanyTypes)
                        {
                            if (companyType.Type.Name == "Contractor")
                            {
                                contractor = true;
                                break;
                            }
                        }

                        if (contractor == true)
                        {
                            <div class="col-12">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" id="isContractor" type="checkbox" checked="checked" />
                                    <label class="custom-control-label" for="isContractor">Is this company a contractor?</label>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="col-12">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" id="isContractor" type="checkbox" />
                                    <label class="custom-control-label" for="isContractor">Is this company a contractor?</label>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="col-12">
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" id="isContractor" type="checkbox" />
                                <label class="custom-control-label" for="isContractor">Is this company a contractor?</label>
                            </div>
                        </div>
                    }
                }
                <div class="form-group col-md-12">
                    <label class="control-label"> Contractor Subtypes Assigned</label> <button type="button" id="btnRightContractor" class="btn btn-danger btn-sm">
                        <strong>-</strong>
                    </button>
                    @Html.ListBox("selectedOptionsContractor", (MultiSelectList)ViewBag.selOptsContractor, new { @size = 5, @class = "form-control", @style = "height: 85%;", @id = "selectedOptionsContractor" })
                </div>

                <div class="form-group col-md-12">
                    <label class="control-label"> Contractor Subtypes Available</label> <button type="button" id="btnLeftContractor" class="btn btn-success btn-sm">
                        <strong>+</strong>
                    </button>
                    @Html.ListBox("availOptionsContractor", (MultiSelectList)ViewBag.availOptsContractor, new { @size = 5, @class = "form-control", @style = "height: 85%;", @id = "availOptionsContractor" })
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-sm-12">
            <input type="submit" id="btnSubmit" value="Save" class="btn btn-primary" />
            <a class="btn btn-outline-danger" asp-action="Index">Cancel</a>
        </div>
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/companies_script.js"></script>

    @*This is for the company table*@
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $.fn.dataTable.ext.order['dom-checkbox'] = function (settings, col) {
                return this.api().column(col, { order: 'index' }).nodes().map(function (td, i) {
                    return $('input', td).prop('checked') ? '1' : '0';
                });
            };
            @*These have to match the amount of columns there are, null if its not a boolean and { "orderDataType": "dom-checkbox" } in the boolean column*@
            $('#dataTable').DataTable({
                "columns": [
                    null,
                    null,
                    { "orderDataType": "dom-checkbox" },
                    null,
                    null,
                    null,
                ]
            });
        });
        </script>
    @*<script type="text/javascript">
            (function () {
                'use strict'

                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.querySelectorAll('.needs-validation')

                // Loop over them and prevent submission
                Array.prototype.slice.call(forms)
                    .forEach(function (form) {
                        form.addEventListener('submit', function (event) {
                            if (!form.checkValidity()) {
                                event.preventDefault()
                                event.stopPropagation()
                            }

                            form.classList.add('was-validated')
                        }, false)
                    })
            })()
        </script>*@
}
