@model Hager_Ind_CRM.ViewModels.MergeVM
@*@model Hager_Ind_CRM.Models.Company*@


@{
    ViewData["Title"] = "Merge";

    IEnumerable<Company> company1 = ViewData["Company1"] as IEnumerable<Company>;
    IEnumerable<Company> company2 = ViewData["Company2"] as IEnumerable<Company>;

}

<h1 class="mt-4">Merge Companies</h1>

<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
    <li class="breadcrumb-item"><a asp-area="" asp-controller="Companies" asp-action="Index">Companies</a></li>
    <li class="breadcrumb-item active">Merge</li>
</ol>

<form asp-action="Merge">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    @*<input type="hidden" asp-for="ID" />*@
    <input id="input_ID_1" name="input_ID_1" type="hidden" value="@Model.Company1.ID" />
    <input id="input_ID_2" name="input_ID_2" type="hidden" value="@Model.Company2.ID" />
    <input id="input_Location" name="input_Location" type="hidden" value="@Model.Company1.Location" />
    <input id="input_Name" name="input_Name" type="hidden" value="@Model.Company1.Name" />
    <input id="input_BillingTermsID" name="input_BillingTermsID" type="hidden" value="@Model.Company1.BillingTermsID" />
    <input id="input_CurrencyID" name="input_CurrencyID" type="hidden" value="@Model.Company1.CurrencyID" />
    <input id="input_Phone" name="input_Phone" type="hidden" value="@Model.Company1.Phone" />
    <input id="input_Website" name="input_Website" type="hidden" value="@Model.Company1.Website" />
    <input id="input_Notes" name="input_Notes" type="hidden" value="@Model.Company1.Notes" />
    <input id="input_BillingAddress1" name="input_BillingAddress1" type="hidden" value="@Model.Company1.BillingAddress1" />
    <input id="input_BillingAddress2" name="input_BillingAddress2" type="hidden" value="@Model.Company1.BillingAddress2" />
    <input id="input_BillingCountryID" name="input_BillingCountryID" type="hidden" value="@Model.Company1.BillingCountryID" />
    <input id="input_BillingProvinceID" name="input_BillingProvinceID" type="hidden" value="@Model.Company1.BillingProvinceID" />
    <input id="input_BillingPostal" name="input_BillingPostal" type="hidden" value="@Model.Company1.BillingPostalCode" />
    <input id="input_ShippingAddress1" name="input_ShippingAddress1" type="hidden" value="@Model.Company1.ShippingAddress1" />
    <input id="input_ShippingAddress2" name="input_ShippingAddress2" type="hidden" value="@Model.Company1.ShippingAddress2" />
    <input id="input_ShippingCountryID" name="input_ShippingCountryID" type="hidden" value="@Model.Company1.ShippingCountryID" />
    <input id="input_ShippingProvinceID" name="input_ShippingProvinceID" type="hidden" value="@Model.Company1.ShippingProvinceID" />
    <input id="input_ShippingPostal" name="input_ShippingPostal" type="hidden" value="@Model.Company1.ShippingPostalCode" />
    <input id="input_CreditCheck" name="input_CreditCheck" type="hidden" />
    <input id="input_Active" name="input_Active" type="hidden" />
    <input id="inputCustomer" name="isCustomer" type="hidden" value="false" />
    <input id="inputVendor" name="isVendor" type="hidden" value="false" />
    <input id="inputContractor" name="isContractor" type="hidden" value="false" />

    <div class="row">
        <div class="col-xl-6 col-lg-12 d-flex align-items-stretch">
            <div class="breadcrumb">
                <div class="form-group col-12">
                    <h4>Company information</h4>
                    <hr class="mb-0" />
                </div>
                <div class="form-group col-sm-12">
                    <div class="row">
                        <div class="col-sm-2">
                            <b>Name:</b>
                        </div>
                        <div class="col-sm-4 d-flex justify-content-end">
                            <label class="text-primary font-weight-bold" id="name1">@Model.Company1.Name</label>
                        </div>
                        <div class="col-sm-2 d-flex justify-content-center">
                            <label class="switch">
                                <input type="checkbox" id="toggle_Name">
                                <span class="slider round"></span>
                            </label>
                        </div>
                        <div class="col-sm-4 d-flex justify-content-start">
                            <label class="text-secondary" id="name2">@Model.Company2.Name</label>
                        </div>
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <div class="row">
                        <div class="col-sm-2">
                            <b>Location:</b>
                        </div>
                        <div class="col-sm-4 d-flex justify-content-end">
                            <label class="text-primary font-weight-bold" id="location1">@Model.Company1.Location</label>
                        </div>
                        <div class="col-sm-2 d-flex justify-content-center">
                            <label class="switch">
                                <input type="checkbox" id="toggle_Location">
                                <span class="slider round"></span>
                            </label>
                        </div>
                        <div class="col-sm-4 d-flex justify-content-start">
                            <label class="text-secondary" id="location2">@Model.Company2.Location</label>
                        </div>
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <div class="row">
                        <div class="col-sm-3">
                            <b>Billing Terms:</b>
                        </div>
                        <div class="col-sm-3 d-flex justify-content-end">
                            <label class="text-primary font-weight-bold" id="billingTerms1">
                                @if (@Model.Company1.BillingTerms != null)
                                {
                                    @Model.Company1.BillingTerms.Terms
                                }
                            </label>
                            <label id="billingTerms1ID" hidden="hidden">
                                @if (@Model.Company1.BillingTermsID != null)
                                {
                                    @Model.Company1.BillingTermsID
                                }
                                else
                                {
                                    @null
                                }
                            </label>
                        </div>
                        <div class="col-sm-2 d-flex justify-content-center">
                            <label class="switch">
                                <input type="checkbox" id="toggle_BillingTerms">
                                <span class="slider round"></span>
                            </label>
                        </div>
                        <div class="col-sm-4 d-flex justify-content-start">
                            <label class="text-secondary" id="billingTerms2" >
                                @if (@Model.Company2.BillingTerms != null)
                                {
                                    @Model.Company2.BillingTerms.Terms
                                }
                            </label>
                            <label id="billingTerms2ID" hidden="hidden">
                                @if (@Model.Company2.BillingTermsID != null)
                                {
                                    @Model.Company2.BillingTermsID
                                }
                                else
                                {
                                    @null
                                }
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <div class="row">
                        <div class="col-sm-2">
                            <b>Currency:</b>
                        </div>
                        <div class="col-sm-4 d-flex justify-content-end">
                            <label class="text-primary font-weight-bold" id="currency1">
                                @if (@Model.Company1.Currency != null)
                                {
                                    @Model.Company1.Currency.Name
                                }
                            </label>
                            <label id="currency1ID" hidden="hidden">
                                @if (@Model.Company1.CurrencyID != null)
                                {
                                    @Model.Company1.CurrencyID
                                }
                            </label>
                        </div>
                        <div class="col-sm-2 d-flex justify-content-center">
                            <label class="switch">
                                <input type="checkbox" id="toggle_Currency">
                                <span class="slider round"></span>
                            </label>
                        </div>
                        <div class="col-sm-4 d-flex justify-content-start">
                            <label class="text-secondary" id="currency2">
                                @if (@Model.Company2.Currency != null)
                                {
                                    @Model.Company2.Currency.Name
                                }
                            </label>
                            <label id="currency2ID" hidden="hidden">
                                @if (@Model.Company2.CurrencyID != null)
                                {
                                    @Model.Company2.CurrencyID
                                }

                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <div class="row">
                        <div class="col-sm-2">
                            <b>Phone:</b>
                        </div>
                        <div class="col-sm-4 d-flex justify-content-end">
                            <label class="text-primary font-weight-bold" id="phone1">@Model.Company1.Phone</label>
                        </div>
                        <div class="col-sm-2 d-flex justify-content-center">
                            <label class="switch">
                                <input type="checkbox" id="toggle_Phone">
                                <span class="slider round"></span>
                            </label>
                        </div>
                        <div class="col-sm-4 d-flex justify-content-start">
                            <label class="text-secondary" id="phone2">@Model.Company2.Phone</label>
                        </div>
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <div class="row">
                        <div class="col-sm-2">
                            <b>Website:</b>
                        </div>
                        <div class="col-sm-4 d-flex justify-content-end">
                            <label class="text-primary font-weight-bold" id="website1">@Model.Company1.Website</label>
                        </div>
                        <div class="col-sm-2 d-flex justify-content-center">
                            <label class="switch">
                                <input type="checkbox" id="toggle_Website">
                                <span class="slider round"></span>
                            </label>
                        </div>
                        <div class="col-sm-4 d-flex justify-content-start">
                            <label class="text-secondary" id="website2">@Model.Company2.Website</label>
                        </div>
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <div class="row">
                        <div class="col-sm-3">
                            <b>Credit Check:</b>
                        </div>
                        <div class="col-sm-3 d-flex justify-content-end">
                            @if (Model.Company1.CredCheck == true)
                            {
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" id="active_1" type="checkbox" checked="checked" disabled="disabled" />
                                    <label class="custom-control-label" for="active_1"></label>
                                </div>
                            }
                            else
                            {
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" id="active_2" type="checkbox" disabled="disabled" />
                                    <label class="custom-control-label" for="active_2"></label>
                                </div>
                            }
                            <label class="text-primary font-weight-bold" id="creditCheck1" hidden="hidden">
                                @if (@Model.Company1.CredCheck == true)
                                {
                                    @:true
                                }
                                else
                                {
                                    @:false
                                }
                            </label>
                        </div>
                        <div class="col-sm-2 d-flex justify-content-center">
                            <label class="switch">
                                <input type="checkbox" id="toggle_CreditCheck">
                                <span class="slider round"></span>
                            </label>
                        </div>
                        <div class="col-sm-4 d-flex justify-content-start">
                            @if (Model.Company2.CredCheck == true)
                            {
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" id="active_3" type="checkbox" checked="checked" disabled="disabled" />
                                    <label class="custom-control-label" for="active_3"></label>
                                </div>
                            }
                            else
                            {
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" id="active_4" type="checkbox" disabled="disabled" />
                                    <label class="custom-control-label" for="active_4"></label>
                                </div>
                            }
                            <label class="text-primary font-weight-bold" id="creditCheck2" hidden="hidden">

                                @if (@Model.Company2.CredCheck == true)
                                {
                                    @:true
                                }
                                else
                                {
                                    @:false
                                }
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <div class="row">
                        <div class="col-sm-3">
                            <b>Active:</b>
                        </div>
                        <div class="col-sm-3 d-flex justify-content-end">
                            @if (Model.Company1.Active == true)
                            {
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" id="active_5" type="checkbox" checked="checked" disabled="disabled" />
                                    <label class="custom-control-label" for="active_5"></label>
                                </div>
                            }
                            else
                            {
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" id="active_6" type="checkbox" disabled="disabled" />
                                    <label class="custom-control-label" for="active_6"></label>
                                </div>
                            }
                            <label class="text-primary font-weight-bold" id="active1" hidden="hidden">
                                @if (@Model.Company1.Active == true)
                                {
                                    @:true
                                }
                                else
                                {
                                    @:false
                                }
                            </label>
                        </div>
                        <div class="col-sm-2 d-flex justify-content-center">
                            <label class="switch">
                                <input type="checkbox" id="toggle_Active">
                                <span class="slider round"></span>
                            </label>
                        </div>
                        <div class="col-sm-4 d-flex justify-content-start">
                            @if (Model.Company2.Active == true)
                            {
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" id="active_7" type="checkbox" checked="checked" disabled="disabled" />
                                    <label class="custom-control-label" for="active_7"></label>
                                </div>
                            }
                            else
                            {
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" id="active_8" type="checkbox" disabled="disabled" />
                                    <label class="custom-control-label" for="active_8"></label>
                                </div>
                            }
                            <label class="text-primary font-weight-bold" id="active2" hidden="hidden">

                                @if (@Model.Company2.Active == true)
                                {
                                    @:true
                                }
                                else
                                {
                                    @:false
                                }
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <div class="row">
                        <div class="col-sm-2">
                            <b>Notes:</b>
                        </div>
                        <div class="col-sm-4 d-flex justify-content-end">
                            <label class="text-primary font-weight-bold" id="notes1">@Model.Company1.Notes</label>
                        </div>
                        <div class="col-sm-2 d-flex justify-content-center">
                            <label class="switch">
                                <input type="checkbox" id="toggle_Notes">
                                <span class="slider round"></span>
                            </label>
                        </div>
                        <div class="col-sm-4 d-flex justify-content-start">
                            <label class="text-secondary" id="notes2">@Model.Company2.Notes</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-12">
            <div class="col-12">
                <div class="breadcrumb">
                    <div class="form-group col-12">
                        <h4>Billing information</h4>
                        <hr class="mb-0" />
                    </div>
                    <div class="form-group col-sm-12">
                        <div class="row">
                            <div class="col-sm-2">
                                <b>Address:</b>
                            </div>
                            <div class="col-sm-4 d-flex justify-content-end">
                                <label class="text-primary font-weight-bold" id="billingAddress1_company1">
                                    @if (@Model.Company1.BillingAddress1 != null)
                                    {
                                        @Model.Company1.BillingAddress1
                                    }
                                </label>
                            </div>
                            <div class="col-sm-2 d-flex justify-content-center">
                                <label class="switch">
                                    <input type="checkbox" id="toggle_BillingAddress1">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                            <div class="col-sm-4 d-flex justify-content-start">
                                <label class="text-secondary" id="billingAddress1_company2">
                                    @if (@Model.Company2.BillingAddress1 != null)
                                    {
                                        @Model.Company2.BillingAddress1
                                    }
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <div class="row">
                            <div class="col-sm-2">
                                <b>Address:</b>
                            </div>
                            <div class="col-sm-4 d-flex justify-content-end">
                                <label class="text-primary font-weight-bold" id="billingAddress2_company1">
                                    @if (@Model.Company1.BillingAddress2 != null)
                                    {
                                        @Model.Company1.BillingAddress2
                                    }
                                </label>
                            </div>
                            <div class="col-sm-2 d-flex justify-content-center">
                                <label class="switch">
                                    <input type="checkbox" id="toggle_BillingAddress2">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                            <div class="col-sm-4 d-flex justify-content-start">
                                <label class="text-secondary" id="billingAddress2_company2">
                                    @if (@Model.Company2.BillingAddress2 != null)
                                    {
                                        @Model.Company2.BillingAddress2
                                    }
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <div class="row">
                            <div class="col-sm-2">
                                <b>Country:</b>
                            </div>
                            <div class="col-sm-4 d-flex justify-content-end">
                                <label class="text-primary font-weight-bold" id="billingCountry1">
                                    @if (@Model.Company1.BillingCountry != null)
                                    {
                                        @Model.Company1.BillingCountry.Name
                                    }
                                </label>
                                <label id="billingCountry1ID" hidden="hidden">
                                    @if (@Model.Company1.BillingCountryID != null)
                                    {
                                        @Model.Company1.BillingCountryID
                                    }
                                </label>
                            </div>
                            <div class="col-sm-2 d-flex justify-content-center">
                                <label class="switch">
                                    <input type="checkbox" id="toggle_BillingCountry">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                            <div class="col-sm-4 d-flex justify-content-start">
                                <label class="text-secondary" id="billingCountry2">
                                    @if (@Model.Company2.BillingCountry != null)
                                    {
                                        @Model.Company2.BillingCountry.Name
                                    }
                                </label>
                                <label id="billingCountry2ID" hidden="hidden">
                                    @if (@Model.Company2.BillingCountryID != null)
                                    {
                                        @Model.Company2.BillingCountryID
                                    }
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <div class="row">
                            <div class="col-sm-2">
                                <b>Province:</b>
                            </div>
                            <div class="col-sm-4 d-flex justify-content-end">
                                <label class="text-primary font-weight-bold" id="billingProvince1">
                                    @if (@Model.Company1.BillingProvince != null)
                                    {
                                        @Model.Company1.BillingProvince.Name
                                    }
                                </label>
                                <label id="billingProvince1ID" hidden="hidden">
                                    @if (@Model.Company1.BillingProvinceID != null)
                                    {
                                        @Model.Company1.BillingProvinceID
                                    }
                                </label>
                            </div>
                            <div class="col-sm-2 d-flex justify-content-center">
                                <label class="switch">
                                    <input type="checkbox" id="toggle_BillingProvince">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                            <div class="col-sm-4 d-flex justify-content-start">
                                <label class="text-secondary" id="billingProvince2">
                                    @if (@Model.Company2.BillingProvince != null)
                                    {
                                        @Model.Company2.BillingProvince.Name
                                    }
                                </label>
                                <label id="billingProvince2ID" hidden="hidden">
                                    @if (@Model.Company2.BillingProvinceID != null)
                                    {
                                        @Model.Company2.BillingProvinceID
                                    }
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-sm-12 mb-0">
                        <div class="form-group col-sm-12">
                            <div class="row">
                                <div class="col-sm-2">
                                    <b>Postal:</b>
                                </div>
                                <div class="col-sm-4 d-flex justify-content-end">
                                    <label class="text-primary font-weight-bold" id="billingPostal1">@Model.Company1.BillingPostalCode</label>
                                </div>
                                <div class="col-sm-2 d-flex justify-content-center">
                                    <label class="switch">
                                        <input type="checkbox" id="toggle_BillingPostal">
                                        <span class="slider round"></span>
                                    </label>
                                </div>
                                <div class="col-sm-4 d-flex justify-content-start">
                                    <label class="text-secondary" id="billingPostal2">@Model.Company2.BillingPostalCode</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="breadcrumb">
                    <div class="form-group col-12">
                        <h4>Shipping information</h4>
                        <hr class="mb-0" />
                    </div>
                    <div class="form-group col-sm-12">
                        <div class="row">
                            <div class="col-sm-2">
                                <b>Address:</b>
                            </div>
                            <div class="col-sm-4 d-flex justify-content-end">
                                <label class="text-primary font-weight-bold" id="shippingAddress1_company1">
                                    @if (@Model.Company1.ShippingAddress1 != null)
                                    {
                                        @Model.Company1.ShippingAddress1
                                    }
                                </label>
                            </div>
                            <div class="col-sm-2 d-flex justify-content-center">
                                <label class="switch">
                                    <input type="checkbox" id="toggle_ShippingAddress1">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                            <div class="col-sm-4 d-flex justify-content-start">
                                <label class="text-secondary" id="shippingAddress1_company2">
                                    @if (@Model.Company2.ShippingAddress1 != null)
                                    {
                                        @Model.Company2.ShippingAddress1
                                    }
                                    
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <div class="row">
                            <div class="col-sm-2">
                                <b>Address:</b>
                            </div>
                            <div class="col-sm-4 d-flex justify-content-end">
                                <label class="text-primary font-weight-bold" id="shippingAddress2_company1">
                                    @if (@Model.Company1.ShippingAddress2 != null)
                                    {
                                        @Model.Company1.ShippingAddress2
                                    }
                                </label>
                            </div>
                            <div class="col-sm-2 d-flex justify-content-center">
                                <label class="switch">
                                    <input type="checkbox" id="toggle_ShippingAddress2">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                            <div class="col-sm-4 d-flex justify-content-start">
                                <label class="text-secondary" id="shippingAddress2_company2">
                                    @if (@Model.Company2.ShippingAddress2 != null)
                                    {
                                        @Model.Company2.ShippingAddress2
                                    }
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <div class="row">
                            <div class="col-sm-2">
                                <b>Country:</b>
                            </div>
                            <div class="col-sm-4 d-flex justify-content-end">
                                <label class="text-primary font-weight-bold" id="shippingCountry1">
                                    @if (@Model.Company1.ShippingCountry != null)
                                    {
                                        @Model.Company1.ShippingCountry.Name
                                    }
                                </label>
                                <label id="shippingCountry1ID" hidden="hidden">
                                    @if (@Model.Company1.ShippingCountryID != null)
                                    {
                                        @Model.Company1.ShippingCountryID
                                    }
                                </label>
                            </div>
                            <div class="col-sm-2 d-flex justify-content-center">
                                <label class="switch">
                                    <input type="checkbox" id="toggle_ShippingCountry">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                            <div class="col-sm-4 d-flex justify-content-start">
                                <label class="text-secondary" id="shippingCountry2">
                                    @if (@Model.Company2.ShippingCountry != null)
                                    {
                                        @Model.Company2.ShippingCountry.Name
                                    }
                                </label>
                                <label id="shippingCountry2ID" hidden="hidden">
                                    @if (@Model.Company2.ShippingCountryID != null)
                                    {
                                        @Model.Company2.ShippingCountryID
                                    }
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <div class="row">
                            <div class="col-sm-2">
                                <b>Province:</b>
                            </div>
                            <div class="col-sm-4 d-flex justify-content-end">
                                <label class="text-primary font-weight-bold" id="shippingProvince1">
                                    @if (@Model.Company1.ShippingProvince != null)
                                    {
                                        @Model.Company1.ShippingProvince.Name
                                    }
                                </label>
                                <label id="shippingProvince1ID" hidden="hidden">
                                    @if (@Model.Company1.ShippingProvinceID != null)
                                    {
                                        @Model.Company1.ShippingProvinceID
                                    }
                                </label>
                            </div>
                            <div class="col-sm-2 d-flex justify-content-center">
                                <label class="switch">
                                    <input type="checkbox" id="toggle_ShippingProvince">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                            <div class="col-sm-4 d-flex justify-content-start">
                                <label class="text-secondary" id="shippingProvince2">
                                    @if (@Model.Company2.ShippingProvince != null)
                                    {
                                        @Model.Company2.ShippingProvince.Name
                                    }
                                </label>
                                <label id="shippingProvince2ID" hidden="hidden">
                                    @if (@Model.Company2.ShippingProvinceID != null)
                                    {
                                        @Model.Company2.ShippingProvinceID
                                    }
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-sm-12 mb-0">
                        <div class="form-group col-sm-12">
                            <div class="row">
                                <div class="col-sm-2">
                                    <b>Postal:</b>
                                </div>
                                <div class="col-sm-4 d-flex justify-content-end">
                                    <label class="text-primary font-weight-bold" id="shippingPostal1">@Model.Company1.ShippingPostalCode</label>
                                </div>
                                <div class="col-sm-2 d-flex justify-content-center">
                                    <label class="switch">
                                        <input type="checkbox" id="toggle_ShippingPostal">
                                        <span class="slider round"></span>
                                    </label>
                                </div>
                                <div class="col-sm-4 d-flex justify-content-start">
                                    <label class="text-secondary" id="shippingPostal2">@Model.Company2.ShippingPostalCode</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="breadcrumb">
                <div class="form-group col-12">
                    <h4>Types and Subtypes</h4>
                    <hr class="mb-0" />
                </div>
                <div class="form-group col-sm-12">
                    <div class="row">
                        <div class="col-sm-2">
                            <b>Select company:</b>
                        </div>
                        <div class="col-sm-4 d-flex justify-content-end">
                            <label class="text-primary font-weight-bold" id="types1">@Model.Company1.Name - @Model.Company1.Location</label>
                        </div>
                        <div class="col-sm-2 d-flex justify-content-center">
                            <label class="switch">
                                <input type="checkbox" id="toggle_Types">
                                <span class="slider round"></span>
                            </label>
                        </div>
                        <div class="col-sm-4 d-flex justify-content-start">
                            <label class="text-secondary" id="types2">@Model.Company2.Name - @Model.Company2.Location</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="selection2">
        <div class="col-xl-4 col-sm-12 d-flex align-items-stretch">
            <div class="breadcrumb">
                <div class="form-group col-12">
                    <h4>Customer Type</h4>
                    <hr class="mb-0" />
                </div>

                @{
                    int typesCount2 = Model.Company2.CompanyTypes.Count;
                    bool customer2 = false;
                    if (typesCount2 > 0)
                    {
                        foreach (CompanyType companyType in Model.Company2.CompanyTypes)
                        {
                            if (companyType.Type.Name == "Customer")
                            {
                                customer2 = true;
                                break;
                            }
                        }

                        if (customer2 == true)
                        {
                            <div class="col-12">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" id="isCustomer2" type="checkbox" checked="checked" />
                                    <label class="custom-control-label" for="isCustomer2">Is this company a customer?</label>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="col-12">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" id="isCustomer2" type="checkbox" />
                                    <label class="custom-control-label" for="isCustomer2">Is this company a customer?</label>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="col-12">
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" id="isCustomer2" type="checkbox" />
                                <label class="custom-control-label" for="isCustomer2">Is this company a customer?</label>
                            </div>
                        </div>
                    }
                }

                <div class="form-group col-md-12">
                    <label class="control-label"> Customer Subtypes Assigned</label> <button type="button" id="btnRightCustomer2" class="btn btn-danger btn-sm">
                        <strong>-</strong>
                    </button>
                    @Html.ListBox("selectedOptionsCustomer2", (MultiSelectList)ViewBag.selOptsCustomer2, new { @size = 5, @class = "form-control", @style = "height: 85%;", @id = "selectedOptionsCustomer2" })
                </div>

                <div class="form-group col-md-12">
                    <label class="control-label"> Customer Subtypes Available</label> <button type="button" id="btnLeftCustomer2" class="btn btn-success btn-sm">
                        <strong>+</strong>
                    </button>
                    @Html.ListBox("availOptionsCustomer2", (MultiSelectList)ViewBag.availOptsCustomer2, new { @size = 5, @class = "form-control", @style = "height: 85%;", @id = "availOptionsCustomer2" })
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-sm-12 d-flex align-items-stretch">
            <div class="breadcrumb">
                <div class="form-group col-12">
                    <h4>Vendor Type</h4>
                    <hr class="mb-0" />
                </div>
                @{
                    bool vendor2 = false;
                    if (typesCount2 > 0)
                    {
                        foreach (CompanyType companyType in Model.Company2.CompanyTypes)
                        {
                            if (companyType.Type.Name == "Vendor")
                            {
                                vendor2 = true;
                                break;
                            }
                        }

                        if (vendor2 == true)
                        {
                            <div class="col-12">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" id="isVendor2" type="checkbox" checked="checked" />
                                    <label class="custom-control-label" for="isVendor2">Is this company a vendor?</label>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="col-12">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" id="isVendor2" type="checkbox" />
                                    <label class="custom-control-label" for="isVendor2">Is this company a vendor?</label>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="col-12">
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" id="isVendor2" type="checkbox" />
                                <label class="custom-control-label" for="isVendor2">Is this company a vendor?</label>
                            </div>
                        </div>
                    }
                }
                <div class="form-group col-md-12">
                    <label class="control-label"> Vendor Subtypes Assigned</label> <button type="button" id="btnRightVendor2" class="btn btn-danger btn-sm">
                        <strong>-</strong>
                    </button>
                    @Html.ListBox("selectedOptionsVendor2", (MultiSelectList)ViewBag.selOptsVendor2, new { @size = 5, @class = "form-control", @style = "height: 85%;", @id = "selectedOptionsVendor2" })
                </div>

                <div class="form-group col-md-12">
                    <label class="control-label"> Vendor Subtypes Available</label> <button type="button" id="btnLeftVendor2" class="btn btn-success btn-sm">
                        <strong>+</strong>
                    </button>
                    @Html.ListBox("availOptionsVendor2", (MultiSelectList)ViewBag.availOptsVendor2, new { @size = 5, @class = "form-control", @style = "height: 85%;", @id = "availOptionsVendor2" })
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-sm-12 d-flex align-items-stretch">
            <div class="breadcrumb">
                <div class="form-group col-12">
                    <h4>Contractor Type</h4>
                    <hr class="mb-0" />
                </div>
                @{
                    bool contractor2 = false;
                    if (typesCount2 > 0)
                    {
                        foreach (CompanyType companyType in Model.Company2.CompanyTypes)
                        {
                            if (companyType.Type.Name == "Contractor")
                            {
                                contractor2 = true;
                                break;
                            }
                        }

                        if (contractor2 == true)
                        {
                            <div class="col-12">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" id="isContractor2" type="checkbox" checked="checked" />
                                    <label class="custom-control-label" for="isContractor2">Is this company a contractor?</label>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="col-12">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" id="isContractor2" type="checkbox" />
                                    <label class="custom-control-label" for="isContractor2">Is this company a contractor?</label>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="col-12">
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" id="isContractor2" type="checkbox" />
                                <label class="custom-control-label" for="isContractor2">Is this company a contractor?</label>
                            </div>
                        </div>
                    }
                }
                <div class="form-group col-md-12">
                    <label class="control-label"> Contractor Subtypes Assigned</label> <button type="button" id="btnRightContractor2" class="btn btn-danger btn-sm">
                        <strong>-</strong>
                    </button>
                    @Html.ListBox("selectedOptionsContractor2", (MultiSelectList)ViewBag.selOptsContractor2, new { @size = 5, @class = "form-control", @style = "height: 85%;", @id = "selectedOptionsContractor2" })
                </div>

                <div class="form-group col-md-12">
                    <label class="control-label"> Contractor Subtypes Available</label> <button type="button" id="btnLeftContractor2" class="btn btn-success btn-sm">
                        <strong>+</strong>
                    </button>
                    @Html.ListBox("availOptionsContractor2", (MultiSelectList)ViewBag.availOptsContractor2, new { @size = 5, @class = "form-control", @style = "height: 85%;", @id = "availOptionsContractor2" })
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="selection1">
        <div class="col-xl-4 col-sm-12 d-flex align-items-stretch">
            <div class="breadcrumb">
                <div class="form-group col-12">
                    <h4>Customer Type</h4>
                    <hr class="mb-0" />
                </div>

                @{
                    int typesCount = Model.Company1.CompanyTypes.Count;
                    bool customer = false;
                    if (typesCount > 0)
                    {
                        foreach (CompanyType companyType in Model.Company1.CompanyTypes)
                        {
                            if (companyType.Type.Name == "Customer")
                            {
                                customer = true;
                                break;
                            }
                        }

                        if (customer == true)
                        {
                            <div class="col-12">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" id="isCustomer" type="checkbox" checked="checked" />
                                    <label class="custom-control-label" for="isCustomer">Is this company a customer?</label>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="col-12">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" id="isCustomer" type="checkbox" />
                                    <label class="custom-control-label" for="isCustomer">Is this company a customer?</label>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="col-12">
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" id="isCustomer" type="checkbox" />
                                <label class="custom-control-label" for="isCustomer">Is this company a customer?</label>
                            </div>
                        </div>
                    }
                }

                <div class="form-group col-md-12">
                    <label class="control-label"> Customer Subtypes Assigned</label> <button type="button" id="btnRightCustomer" class="btn btn-danger btn-sm">
                        <strong>-</strong>
                    </button>
                    @Html.ListBox("selectedOptionsCustomer", (MultiSelectList)ViewBag.selOptsCustomer, new { @size = 5, @class = "form-control", @style = "height: 85%;", @id = "selectedOptionsCustomer" })
                </div>

                <div class="form-group col-md-12">
                    <label class="control-label"> Customer Subtypes Available</label> <button type="button" id="btnLeftCustomer" class="btn btn-success btn-sm">
                        <strong>+</strong>
                    </button>
                    @Html.ListBox("availOptionsCustomer", (MultiSelectList)ViewBag.availOptsCustomer, new { @size = 5, @class = "form-control", @style = "height: 85%;", @id = "availOptionsCustomer" })
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-sm-12 d-flex align-items-stretch">
            <div class="breadcrumb">
                <div class="form-group col-12">
                    <h4>Vendor Type</h4>
                    <hr class="mb-0" />
                </div>
                @{
                    bool vendor = false;
                    if (typesCount > 0)
                    {
                        foreach (CompanyType companyType in Model.Company1.CompanyTypes)
                        {
                            if (companyType.Type.Name == "Vendor")
                            {
                                vendor = true;
                                break;
                            }
                        }

                        if (vendor == true)
                        {
                            <div class="col-12">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" id="isVendor" type="checkbox" checked="checked" />
                                    <label class="custom-control-label" for="isVendor">Is this company a vendor?</label>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="col-12">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" id="isVendor" type="checkbox" />
                                    <label class="custom-control-label" for="isVendor">Is this company a vendor?</label>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="col-12">
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" id="isVendor" type="checkbox" />
                                <label class="custom-control-label" for="isVendor">Is this company a vendor?</label>
                            </div>
                        </div>
                    }
                }
                <div class="form-group col-md-12">
                    <label class="control-label"> Vendor Subtypes Assigned</label> <button type="button" id="btnRightVendor" class="btn btn-danger btn-sm">
                        <strong>-</strong>
                    </button>
                    @Html.ListBox("selectedOptionsVendor", (MultiSelectList)ViewBag.selOptsVendor, new { @size = 5, @class = "form-control", @style = "height: 85%;", @id = "selectedOptionsVendor" })
                </div>

                <div class="form-group col-md-12">
                    <label class="control-label"> Vendor Subtypes Available</label> <button type="button" id="btnLeftVendor" class="btn btn-success btn-sm">
                        <strong>+</strong>
                    </button>
                    @Html.ListBox("availOptionsVendor", (MultiSelectList)ViewBag.availOptsVendor, new { @size = 5, @class = "form-control", @style = "height: 85%;", @id = "availOptionsVendor" })
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-sm-12 d-flex align-items-stretch">
            <div class="breadcrumb">
                <div class="form-group col-12">
                    <h4>Contractor Type</h4>
                    <hr class="mb-0" />
                </div>
                @{
                    bool contractor = false;
                    if (typesCount > 0)
                    {
                        foreach (CompanyType companyType in Model.Company1.CompanyTypes)
                        {
                            if (companyType.Type.Name == "Contractor")
                            {
                                contractor = true;
                                break;
                            }
                        }

                        if (contractor == true)
                        {
                            <div class="col-12">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" id="isContractor" type="checkbox" checked="checked" />
                                    <label class="custom-control-label" for="isContractor">Is this company a contractor?</label>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="col-12">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" id="isContractor" type="checkbox" />
                                    <label class="custom-control-label" for="isContractor">Is this company a contractor?</label>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="col-12">
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" id="isContractor" type="checkbox" />
                                <label class="custom-control-label" for="isContractor">Is this company a contractor?</label>
                            </div>
                        </div>
                    }
                }
                <div class="form-group col-md-12">
                    <label class="control-label"> Contractor Subtypes Assigned</label> <button type="button" id="btnRightContractor" class="btn btn-danger btn-sm">
                        <strong>-</strong>
                    </button>
                    @Html.ListBox("selectedOptionsContractor", (MultiSelectList)ViewBag.selOptsContractor, new { @size = 5, @class = "form-control", @style = "height: 85%;", @id = "selectedOptionsContractor" })
                </div>

                <div class="form-group col-md-12">
                    <label class="control-label"> Contractor Subtypes Available</label> <button type="button" id="btnLeftContractor" class="btn btn-success btn-sm">
                        <strong>+</strong>
                    </button>
                    @Html.ListBox("availOptionsContractor", (MultiSelectList)ViewBag.availOptsContractor, new { @size = 5, @class = "form-control", @style = "height: 85%;", @id = "availOptionsContractor" })
                </div>
            </div>
        </div>
    </div>
    @if (Model.Company1.Contacts.Count > 0)
    {
        <div class="row">
            <div class="col-12">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table mr-1"></i>
                        Contacts assigned to <b> @Model.Company1.Name - @Model.Company1.Location </b>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered display" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>
                                            Select
                                        </th>
                                        <th>
                                            Full Name
                                        </th>
                                        <th>
                                            Job Title
                                        </th>
                                        <th>
                                            Cell Phone
                                        </th>
                                        <th>
                                            Email
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Company1.Contacts)
                                    {
                                        <tr>
                                            <td>
                                                <div class="custom-control custom-checkbox pt-2">
                                                    <input type="checkbox" name="YourCheckBoxes" value="@item.ID" />
                                                </div>
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.FullName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.JobTitle)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CellPhone)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Email)
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    @if (Model.Company2.Contacts.Count > 0)
    {
        <div class="row">
            <div class="col-12 ">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table mr-1"></i>
                        Contacts assigned to <b> @Model.Company2.Name - @Model.Company2.Location </b>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered display" id="dataTable2" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>
                                            Select
                                        </th>
                                        <th>
                                            Full Name
                                        </th>
                                        <th>
                                            Job Title
                                        </th>
                                        <th>
                                            Cell Phone
                                        </th>
                                        <th>
                                            Email
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Company2.Contacts)
                                    {
                                        <tr>
                                            <td>
                                                <div class="custom-control custom-checkbox pt-2">
                                                    <input type="checkbox" name="YourCheckBoxes" value="@item.ID" />
                                                </div>
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.FullName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.JobTitle)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CellPhone)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Email)
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="col-xl-6 col-sm-12">
        <input type="submit" value="Merge" id="btnSubmit" class="btn btn-primary" />
        <a class="btn btn-outline-danger" asp-action="Index">Cancel</a>
    </div>
</form>

@section Scripts {
    <script src="~/js/merge12.js"></script>
    <script src="~/js/types_merge.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript">
        $('#dataTable').DataTable({
            sDom: 'lrtip',
            "bInfo": false,
            paging: false,
            rowReorder: {
                selector: 'tr'
            }
        });

        $('#dataTable2').DataTable({
            sDom: 'lrtip',
            "bInfo": false,
            paging: false,
            rowReorder: {
                selector: 'tr'
            }
        });
    </script>
}