@model Hager_Ind_CRM.Models.Contact

@{
    ViewData["Title"] = "Delete";
}

<h1 class="mt-4">Delete Employee</h1>

<ol class="breadcrumb mb-3">
    <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
    <li class="breadcrumb-item"><a asp-area="" asp-controller="Employees" asp-action="Index">Employees</a></li>
    <li class="breadcrumb-item"><a asp-area="" asp-controller="Employees" asp-action="Details" asp-route-id="@Model.ID">Details</a></li>
    <li class="breadcrumb-item active">Delete</li>
</ol>
<h3 class="mb-3">Are you sure you want to delete this?</h3>
<h3 class="mb-3">The assigned company will not be deleted.</h3>
<div class="row">
    <div class="col-md-6 d-flex align-items-stretch">
        <dl class="breadcrumb">
            <dt class="form-group col-12">
                <h4>Contact information</h4>
                <hr class="mb-0" />
            </dt>
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.FirstName):
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.FirstName)
            </dd>
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.LastName):
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.LastName)
            </dd>
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.JobTitle):
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.JobTitle)
            </dd>
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.CellPhone):
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.CellPhone)
            </dd>
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.WorkPhone):
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.WorkPhone)
            </dd>
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.Email):
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.ContactCatagories):
            </dt>
            <dd class="col-sm-7">
                @{
                    int categoriesCount = Model.ContactCatagories.Count;
                    if (categoriesCount > 0)
                    {
                        string firstCategory = Model.ContactCatagories.FirstOrDefault().Catagory.Name;
                        if (categoriesCount > 1)
                        {
                            string categoryList = "";
                            var c = Model.ContactCatagories.ToList();
                            for (int i = 1; i < categoriesCount; i++)
                            {
                                categoryList += c[i].Catagory.Name + " <br />";
                            }
                            <a class="" role="button" data-toggle="collapse" href="#collapseSum@(Model.ID)" aria-expanded="false" aria-controls="collapseSum@(Model.ID)">
                                @firstCategory <span class="badge badge-info">@categoriesCount</span>
                            </a>
                            <div class="collapse" id="collapseSum@(Model.ID)">
                                @Html.Raw(categoryList)
                            </div>
                        }
                        else
                        {
                            @firstCategory
                        }
                    }
                }
            </dd>
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.Active):
            </dt>
            <dd class="col-sm-7">
                @if (Model.Active == true)
                {
                    <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" id="active_1" type="checkbox" checked="checked" disabled="disabled" />
                        <label class="custom-control-label" for="active_1"></label>
                    </div>
                }
                else
                {
                    <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" id="active_2" type="checkbox" disabled="disabled" />
                        <label class="custom-control-label" for="active_2"></label>
                    </div>
                }
            </dd>
        </dl>
    </div>
    @if (Model.CompanyID != null)
    {
        <div class="col-md-6 d-flex align-items-stretch">
            <dl class="breadcrumb">
                <dt class="form-group col-12">
                    <h4>Company Assigned</h4>
                    <hr class="mb-0" />
                </dt>
                <dt class="col-sm-5">
                    @Html.DisplayNameFor(model => model.Company.Name):
                </dt>
                <dd class="col-sm-7">
                    @Html.DisplayFor(model => model.Company.Name)
                </dd>
                <dt class="col-sm-5">
                    @Html.DisplayNameFor(model => model.Company.Location):
                </dt>
                <dd class="col-sm-7">
                    @Html.DisplayFor(model => model.Company.Location)
                </dd>
                <dt class="col-sm-5">
                    @Html.DisplayNameFor(model => model.Company.BillingTerms):
                </dt>
                <dd class="col-sm-7">
                    @Html.DisplayFor(model => model.Company.BillingTerms.Terms)
                </dd>
                <dt class="col-sm-5">
                    @Html.DisplayNameFor(model => model.Company.Phone):
                </dt>
                <dd class="col-sm-7">
                    @Html.DisplayFor(model => model.Company.Phone)
                </dd>
                <dt class="col-sm-5">
                    @Html.DisplayNameFor(model => model.Company.Website):
                </dt>
                <dd class="col-sm-7">
                    @Html.DisplayFor(model => model.Company.Website)
                </dd>
                <dt class="col-sm-5">
                    @Html.DisplayNameFor(model => model.Company.CredCheck):
                </dt>
                <dd class="col-sm-7">
                    @if (Model.Company.CredCheck == true)
                    {
                        <div class="custom-control custom-checkbox">
                            <input class="custom-control-input" id="active_1" type="checkbox" checked="checked" disabled="disabled" />
                            <label class="custom-control-label" for="active_1"></label>
                        </div>
                    }
                    else
                    {
                        <div class="custom-control custom-checkbox">
                            <input class="custom-control-input" id="active_2" type="checkbox" disabled="disabled" />
                            <label class="custom-control-label" for="active_2"></label>
                        </div>
                    }
                </dd>
                <div class="col-12 d-flex justify-content-center">
                    <a class="btn btn-light" asp-controller="Companies" asp-action="Details" asp-route-id="@Model.CompanyID">Company Details</a>
                </div>
            </dl>
        </div>
    }
    <div class="col-12 mt-2">
        <form asp-action="Delete">
            <input type="hidden" asp-for="ID" />
            <a class="btn btn-primary" asp-action="Details" asp-route-id="@Model.ID">Cancel</a>
            <input type="submit" value="Confirm Delete" class="btn btn-outline-danger" />
        </form>
    </div>
</div>
